
<% if (productos.length > 0) { %>
    <div class="container text-center ">
    <table class="table table-dark border border-2  rounded-bottom rounded-3 mt-3">
      <thead>
        <tr>
          <th scope="col" class="text-warning">Id</th>
          <th scope="col" class="text-warning">Producto</th>
          <th scope="col" class="text-warning">Precio</th>
          <th scope="col" class="text-warning">Imagen</th>
        </tr>
      </thead>
      <tbody>
         
      <% productos.forEach((producto , key)=>{ %>
        <tr>
          <th scope="row"><%= key %> </th>
          <td><%= producto.titulo %> </td>
          <td>$<%= producto.precio %> </td>
          <td><img width="30px" height="30px" src=<%= producto.url %> ></td>
        </tr>
        <% }) %>
        
      </tbody>
    </table>
  </div>
    <% } else { %> 
      <h3>No existen productos</h3>
      <% } %> 